<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Головна сторінка</title>
    <meta charset="utf-8" />
</head>

<body class="light-theme">
    <h1>Головна сторінка</h1>
    <p>Імя: <%=name %></p>
    <p>IP: <%=ip %></p>
    <button id="ThemeButton">Swap</button> 
    <script src="js/theme.js"></script>
</body>
</html>