<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8" />
</head>
<body>
    <h1><%=title %></h1>
    <p>Name: <%=name %></p>
    <p>Phone: <%=phone %></p>
</body>
<html>