<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8" />
</head>
<body>
    <h1><%=title %></h1>
    <% if(0<users.length) {%>
        <h3>Contact</h3>
        <table>
            <tr>
                <td>Name</td>
              <td>Phone</td>
            </tr>
            <% for(var i=0; i<users.length;i++) {%>
            <tr>
              <td><%=users[i].Name %></td>
              <td><%=users[i].Phone %></td>
            </tr>
            <%} %>
          </table>
    <% }else {%>
        <h3>Contact missing</h3>
    <%} %>
</body>
<html>